@using System.Collections.Generic

<div>
   <p>Clique no link para confirmar sua presença:</p>
   <br/>
   <a asp-controller="Convidado" asp-action="Index">Cadastro</a>
   <a asp-controller="Convidado" asp-action="List">Ver convidados</a>
</div>