<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Festa Halloween </title>
</head>
<body style ="text-align: center">
    <header>
        <h1>Festa</h1>
        <p>Bem-vindo ao site de confirmação de prensença da minha festa <strong>festa</strong>.</p>
        <br/>
        <p>Venha a festa do meu aniversario fantasiado, à meia noite! Será uma festa de halloween e acontecerá no 
            dia 31 de outubro de 2020, o endereço será enviado para o número que você usou no cadastro.
        </p>
        <br/>
        <p>Aguardo ansioso pela sua prensença!!!</p>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>
